<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="/../CSS/dashboard.css">
  <script>
    alert("You Have Logged in Succesfully");
  </script>
</head>
<body>
  <div class="container">
    <h1></h1>
    <table>
      <thead>
        <tr>
          <th>Name: <%= name %></th>
          <th>Email:<%= name %></th>
          <th>Phone</th>
          <th>Date of Birth</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody id="signupTable">
        <!-- User data will be dynamically inserted here -->
      </tbody>
    </table>
  </div>

  <script>
 
  </script>
</body>
</html>
